In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import mutual_info_classif

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv")

In [3]:
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

In [4]:
miss_val = df.isnull().sum()
miss_val

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [6]:
df.dtypes

lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
lead_score                  float64
converted                     int64
dtype: object

In [10]:
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = df[col].fillna('NA')
    else:
        df[col] = df[col].fillna(0.0)

In [12]:
print(df.isnull().sum())

lead_source                 0
industry                    0
number_of_courses_viewed    0
annual_income               0
employment_status           0
location                    0
interaction_count           0
lead_score                  0
converted                   0
dtype: int64

In [13]:
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NA,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NA,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   lead_source               1462 non-null   object
 1   industry                  1462 non-null   object
 2   number_of_courses_viewed  1462 non-null   int64
 3   annual_income             1462 non-null   float64
 4   employment_status         1462 non-null   object
 5   location                  1462 non-null   object
 6   interaction_count         1462 non-null   int64
 7   lead_score                1462 non-null   float64
 8   converted                 1462 non-null   int64
dtypes: float64(2), int64(3), object(4)
memory usage: 102.9+ KB

In [16]:
df['industry'].mode()[0]

'retail'

In [17]:
cols = [
    'interaction_count', 
    'lead_score', 
    'number_of_courses_viewed', 
    'annual_income'
]
correlation_matrix = df[cols].corr()
print(correlation_matrix)

                          interaction_count  lead_score  \
interaction_count                  1.000000    0.009888
lead_score                         0.009888    1.000000
number_of_courses_viewed          -0.023565   -0.004879
annual_income                      0.027036    0.015610

                          number_of_courses_viewed  annual_income
interaction_count                        -0.023565       0.027036
lead_score                               -0.004879       0.015610
number_of_courses_viewed                  1.000000       0.009770
annual_income                             0.009770       1.000000

In [18]:
pairs = [
    ('interaction_count', 'lead_score'),
    ('number_of_courses_viewed', 'lead_score'),
    ('number_of_courses_viewed', 'interaction_count'),
    ('annual_income', 'interaction_count'),
]

correlations = {
    pair: abs(correlation_matrix.loc[pair[0], pair[1]])
    for pair in pairs
}
max_corr_pair = max(correlations, key=correlations.get)
print("The pair with the biggest correlation is:", max_corr_pair, "with value:", correlations[max_corr_pair])

The pair with the biggest correlation is: ('annual_income', 'interaction_count') with value: 0.027036472404814417

In [21]:
X = df.drop('converted', axis=1)
y = df['converted']

In [22]:
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.4, random_state=42)

In [23]:
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

In [25]:
cat_cols = ['industry', 'location', 'lead_source', 'employment_status']

In [34]:
mi_scores = {}
for col in cat_cols:
    X_encoded = X_train[col].astype('category').cat.codes.values.reshape(-1, 1)
    score = mutual_info_classif(X_encoded, y_train, discrete_features=True, random_state=42)
    mi_scores[col] = round(score[0], 2)
mi_scores
max(mi_scores, key=mi_scores.get)

'lead_source'