In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv")

In [3]:
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

In [6]:
df.isnull().sum()

lead_source                 0
industry                    0
number_of_courses_viewed    0
annual_income               0
employment_status           0
location                    0
interaction_count           0
lead_score                  0
converted                   0
dtype: int64

In [7]:
df.dtypes

lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
lead_score                  float64
converted                     int64
dtype: object

In [8]:
train_df, temp_df = train_test_split(df, test_size=0.4, random_state=1)

val_df, test_df = train_test_split(temp_df, test_size=0.5, random_state=1)
print(f'Train shape: {train_df.shape}')
print(f'Validation shape: {val_df.shape}')
print(f'Test shape: {test_df.shape}')

Train shape: (877, 9)
Validation shape: (292, 9)
Test shape: (293, 9)

In [10]:
numerical_vars = [
    'number_of_courses_viewed',
    'annual_income',
    'interaction_count',
    'lead_score',
]
results = {}

y = train_df['converted']

for var in numerical_vars:
    scores = train_df[var]
    auc = roc_auc_score(y, scores)
    if auc < 0.5:
        auc = roc_auc_score(y, -scores)
    results[var] = auc

results
max(results, key=results.get)

'number_of_courses_viewed'